body{
  background-color: #0F3D3E;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  flex-wrap: wrap;
}

.card{
  background-color: #F1F1F1;
  border-radius: 5px;
  text-align: center;
  flex:1;
  margin: 10px;
  padding: 10px;
}

.centerDiv{
  display: flex;
  justify-content: center;
}

h1,.colorP{
  color: #F1F1F1;
  text-shadow:-5px 5px 0px #00bdbd4b;
}

h2{
  color: #0F3D3E;
}

button{
  background-color: #F1F1F1;
  color:#0F3D3E ;
  border: 1px solid #0F3D3E;
  padding: 5px;
}

img{
  border-top: 1px solid #0F3D3E;
  border-bottom: 1px solid #0F3D3E;
}